@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Roboto:ital,wght@0,500;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  min-height: 50vh;
  margin-bottom: 15rem;
}

.title {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-weight: bold;
  font-style: italic;
  color: white;
}

header {
  background-color: #112d4e;
  display: flex;
 justify-content: center;
  align-items: center;
  height: 6rem;
  position: fixed;
  width: 100%;
  position: fixed;
  top: 0;
}

.navBarItem {
color: white;
width: 100%;
display: flex;
justify-content: center;
margin: 0 1rem;
line-height: 1rem;
text-transform: uppercase;
width: max-content; 
}

.navItem{
  padding: 1rem;
  list-style: none;
}

.navItem_link{
  font-family: "Montserrat", sans-serif;
  color: white;
  text-decoration: none;
  padding: .8rem 1.2rem;
}
footer {
  position: fixed;
  width: 100%;
  height: 2rem;
  color: white;
  bottom: 0 !important;
  background-color: #112d4e;
  left: 0;
  display: flex;
  justify-content: center;
}

main {
  margin-top: 25%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.btn {
  background-color: #1e426a;
  text-transform: uppercase;
  padding: 0.5rem;
  color: white;
  border-radius: 1rem;
  cursor: pointer;
}
.btn:hover {
  background-color: greenyellow;
  color: #1e426a;
  font-weight: bold;
}

.contianerForm {
  padding: 2rem;
  gap: 2rem;
  justify-content: space-evenly;
  align-content: center;
  width: 50rem;
  border: 0.1rem solid black;
  border-radius: 0.25rem;
  box-shadow: 0.5rem 0.5rem 0.5rem black;
}

.contianerForm .containerFormLogin {
  display: grid;
  margin: 0.5rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "userLogin userLogin"
    "userPassLogin userPassLogin"
    "buttons buttons";
}

.containerUserNameL {
  grid-area: userLogin;
}
.containerUserPasswordL {
  grid-area: userPassLogin;
}
.containerUserNameL,
.containerUserPasswordL {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.containerButtons {
  display: flex;
  justify-content: right;

  grid-area: buttons;
  bottom: 0;
  height: 2.2rem;
}

.contianerFormRegister {
  display: flex;
  flex-direction: column;
  border: 0.2rem solid black;
  width: 50rem;
  padding: 0.5rem;
}

.formRegister {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

.titleRegister {
  height: 2rem;
  padding: 1rem;
}

.formUserRegister {
  margin-top: 0rem;
  display: grid;
  padding: 1rem 1rem;
  gap: 2rem;
  justify-content: space-evenly;
  align-content: center;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    "userName userLastName"
    "userEmail userEmail"
    "userPassword1 userPassword1"
    "userPassword2 userPassword2"
    "buttons buttons";
}
.itemUserName {
  grid-area: userName;
}
.itemUserLastName {
  grid-area: userLastName;
}
.itemEmail {
  grid-area: userEmail;
}
.password1 {
  grid-area: userPassword1;
}
.password2 {
  grid-area: userPassword2;
}
input {
  height: 2rem;
}
.userL,
.passwordL,
.itemUserName,
.itemUserLastName,
.itemEmail,
.password1,
.password2 {
  display: flex;
  flex-direction: column;
}

.formValCorrecto {
  color: rgb(7, 130, 7);
}
.formValIncorrecto {
  color: rgb(149, 17, 17);
}

.inputAlertaError_userNameR,
.inputAlertaError_userLastNameR,
.inputAlertaError_userEmailR,
.inputAlertaError_password2,
.inputAlertaError2_userEmailR, 
.inputAlertaError_userNameLogin, 
.inputAlertaError_userPasswordL,
.inputAlertaError_Login
 {
  font-size: 12px;
  margin-bottom: 0;
  display: none;
}

.inputAlertaErrorActive {
  display: block;
}
.inputAlertaErrorActive2 {
  color: rgb(149, 17, 17);
  display: block;
}
